@font-face {
    font-family: 'RobotoSlab-Regular';
    src: url('../polices/RobotoSlab-Regular.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Bold';
    src: url('../polices/RobotoSlab-Bold.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Light';
    src: url('../polices/RobotoSlab-Light.ttf');
}
@font-face {
    font-family: 'RobotoSlab-Thin';
    src: url('../polices/RobotoSlab-Thin.ttf');
}

#header {
	background-color: #D24D57;
	margin: auto;
	padding: 10px 0;
    margin-bottom: 35px;

}
h1 {
	font-family: 'RobotoSlab-Bold', Arial, serif;
	text-align: center;
	color: #FFF;

}
h2 {
  text-align: center;
  font-family: 'RobotoSlab-Regular', Arial, serif;
  color: #FFF;
}
#menu {
  background-color: #ab3d45;
  height: 50px;
  margin-top: -9px;
  border-top: 1px solid #FFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.mois{
  padding: 5px 40px;
  background-color: #ab3d45;
}
.mois a {
  font-family: 'RobotoSlab-Regular';
  color: #FFF;
  text-decoration: none;
}
.mois a:hover {
  color: #ff9a3d;
}
.gif {
	margin: auto;
  margin-top: 30px;
  padding: 20px;
  border-bottom: 1px solid #c1bdbd;
}
#citation {
	font-family: 'RobotoSlab-Thin', Arial, Serif;
	font-style: italic;
	font-size: .8em;
	text-align: center;
}
#gif {
  display: block;
  border: 2px #d24d57 solid;
  border-radius: 2%;
  margin: auto;
}
.articles {
font-family: 'RobotoSlab-Light', Arial, serif;
margin: auto;
width: 500px
}
h3 {
	font-family: 'RobotoSlab-Regular', Arial, serif;
	text-align: center;
}
.liste-jours {
	margin-left: 80px;
	list-style-type: circle;
}
.liste-jours a {
	text-decoration: none;
	color: #428fd6;
}
.liste-jours a:hover {
	text-decoration: underline;
	color: #D24D57;
}

#footer {
	background-color: #D24D57;
	margin: auto;
	margin-top: 50px;
}
#footer p {
	padding: 25px 0px 40px;
	font-family: 'RobotoSlab-Light', Arial, serif;
 	text-align: center;
	color: #FFF;
}
